<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 bg-cover bg-center text-white padding-y-80" style="background:url(assets/img/960x560/1.jpg) no-repeat">
        <div class="padding-x-lg-100 wow pulse">
          <h2 class="text-white mb-4">
            Admission Open for 2018
          </h2>
          <p>
              You may contact the admissions counselor through phone or by making a personal visit to our admissions office to more receive information about the admission process and the school. 
          </p>
          <button routerLink="admission" class="btn btn-white mt-4">Apply now</button>
        </div>
      </div>
      <div class="col-md-6 bg-cover bg-center text-white padding-y-80" style="background:url(assets/img/960x560/2.jpg) no-repeat">
        <div class="padding-x-lg-100 wow pulse">
          <h2 class="text-white mb-4">
            Students Orientation 2018
          </h2>
          <p>
              You may contact the orientation counselor through phone or by making a personal visit to our administartor office to more receive information about the process. 
          </p>
          <a routerLink="admission" class="btn btn-white mt-4">Apply now</a>
        </div>
      </div>
    </div>
  </div>
  <!-- END container-->
</section>
