<section class="padding-y-100 bg-light-v2">
  <div class="container">
    <div class="row">			
    <div class="col-12 text-center">
      <h2 class="h1">
        Why We are the <span class="text-primary">Best</span>
        <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40 mx-auto"></div>
      </h2>
    </div>
      <div class="col-lg-6 mt-4 pr-lg-5">
        <p class="mb-4">
          Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate velit esse molestie  possim wisi enim ad placerat facer possim assum minim there veniam, nostrud exerci tation ullamcorper quis nostrud.
        </p>
        <ul class="list-unstyled list-style-icon list-icon-angle-right">
          <li>
            Listen to Social Conversations
          </li>
          <li>
            Performance Analyze
          </li>
          <li>
            A Productivity Platform
          </li>
          <li>
            Work With Any Team
          </li>
        </ul>
      </div> <!-- END col-lg-6-->
            <div class="col-md-6 mt-4">
              <div class="mb-4">
                 <div class="d-flex justify-content-between">
                  <p>HTML &amp; CSS</p>
                  <p>90%</p>
                 </div>
                <div class="progress" style="height:4px">
                  <div class="progress-bar bg-primary" style="width:90%" role="progressbar" aria-valuenow="90" aria-valuemin="90" aria-valuemax="100"></div>
                </div>
              </div>
  
              <div class="mb-4">
                 <div class="d-flex justify-content-between">
                  <p>React angular</p>
                  <p>75%</p>
                 </div>
                <div class="progress" style="height:4px">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
  
              <div class="mb-4">
                 <div class="d-flex justify-content-between">
                  <p>PHP</p>
                  <p>80%</p>
                 </div>
                <div class="progress mb-4" style="height:4px">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
  
              <div class="mb-4">
                 <div class="d-flex justify-content-between">
                  <p>Laravel</p>
                  <p>75%</p>
                 </div>
                <div class="progress mb-4" style="height:4px">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>    
            </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
  </section>