<footer class="site-footer">
  <div class="footer-top bg-dark text-white-0_6 pt-5 paddingBottom-100">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-5 col-md-6 mt-5">
          <!-- <img src="assets/img/logo-white.png" alt="Logo"> -->
          <h2 class="navbar-brand-white">{{title}}</h2>
          <div class="margin-y-40">
            <p>
              {{title}} is an English Medium, Co-Ed, KG 1st to 8th Class School and is considered to be Best in Khajurha, Bhore, Gopalganj, Bihar.
            </p>
          </div>
          <ul class="list-inline">
            <li class="list-inline-item" *ngFor="let socialUrl of socialUrls">
              <a class="iconbox bg-white-0_2 hover:primary" href="{{socialUrl.url}}">
                <i class="ti-{{socialUrl.icon}}"> </i>
              </a>
            </li>
          </ul>
        </div>
        
        <div class="col-lg-5 col-md-6 mt-5">
          <h4 class="h5 text-white">Contact Us</h4>
          <div class="width-3rem bg-primary height-3 mt-3"></div>
          <ul class="list-unstyled marginTop-40">
            <li class="mb-3">
              <i class="ti-headphone mr-3"></i>
              <a href="tel:{{tel}}">{{tel}} </a>
            </li>
            <li class="mb-3">
              <i class="ti-email mr-3"></i>
              <a href="mailto:{{email}}">{{email}}</a>
            </li>
            <li class="mb-3">
              <div class="media">
                <i class="ti-location-pin mt-2 mr-3"></i>
                <div class="media-body">
                  <span> {{title}}, Khajurha, Bhore, Gopalganj, Bihar - 841426</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        
        <div class="col-lg-2 col-md-6 mt-5">
          <h4 class="h5 text-white">Quick links</h4>
          <div class="width-3rem bg-primary height-3 mt-3"></div>
          <ul class="list-unstyled marginTop-40">
            <li class="mb-2" *ngFor="let link of quickLinks">
              <a routerLink="{{link.url}}">{{link.text}}</a>
            </li>
          </ul>
        </div>
        
        <!-- <div class="col-lg-4 col-md-6 mt-5">
          <h4 class="h5 text-white">Newslatter</h4>
          <div class="width-3rem bg-primary height-3 mt-3"></div>
          <div class="marginTop-40">
            <p class="mb-4">Subscribe to get update and information. Don't worry, we won't send spam!</p>
            <form class="marginTop-30" action="#" method="POST">
              <div class="input-group">
                <input type="text" placeholder="Enter your email" class="form-control py-3 border-white" required="">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Subscribe</button>
                </div>
              </div>
            </form>
          </div>
        </div> -->
        
      </div>
      <!-- END row-->
    </div>
    <!-- END container-->
  </div>
  <!-- END footer-top-->
  
  <div class="footer-bottom bg-black-0_9 py-5 text-center">
    <div class="container">
      <p class="text-white-0_5 mb-0">&copy; 2018 {{title}}. All rights reserved. Created by
        <a href="https:/github.com/Rizwan-Raza" target="_blank">Rex Terminous</a>
      </p>
    </div>
  </div>
  <!-- END footer-bottom-->
</footer>