<div class="py-5 bg-cover" data-dark-overlay="6" style="background:url(assets/img/breadcrumb-bg.jpg) no-repeat">
  <div class="container">
    <h2 class="text-white">
      Admission Request has been sent successfully
    </h2>
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="admission">Admission</a></li>
        <li class="breadcrumb-item">Message Sent</li>
      </ol>
  </div>
</div>