<div class="py-5 bg-cover" data-dark-overlay="6" style="background:url(assets/img/1920/658_2.jpg) no-repeat">
  <div class="container">
    <h2 class="text-white">
      Contact
    </h2>
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
      <li class="breadcrumb-item"><a routerLink="">Home</a></li>
      <li class="breadcrumb-item">Contact</li>
    </ol>
  </div>
</div>



<div class="py-5 shadow-v2 position-relative">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-4 col-md-6 mt-4">
        <div class="media">
          <span class="iconbox iconbox-md bg-primary text-white"><i class="ti-mobile"></i></span>
          <div class="media-body ml-3">
            <h5 class="mb-0">{{tel}}</h5> 
            <p>Call Us (8AM-10PM)</p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-4">
        <div class="media">
          <span class="iconbox iconbox-md bg-primary text-white"><i class="ti-email"></i></span>
          <div class="media-body ml-3">
            <a href="mailto:{{email}}" class="h5">{{email}}</a>
            <p>Mail Us (8AM-10PM)</p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mt-4">
        <div class="media">
          <span class="iconbox iconbox-md bg-primary text-white"><i class="ti-location-pin"></i></span>
          <div class="media-body ml-3">
            <h5 class="mb-0">J.B.U. Academy</h5> 
            <p>Khajurha, Bhore, Gopalganj, Bihar - 841426</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>




<section class="padding-y-100 bg-light-v2">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h2>
          Send Message
        </h2>
        <div class="width-4rem height-4 bg-primary my-2 mx-auto rounded"></div>
      </div>
      <div class="col-12 text-center">
        <form action="assets/services/contact.php" method="POST" class="card p-4 p-md-5 shadow-v1">
        <!-- <form action="http://rex.esy.es/bd/contact.php" method="POST" class="card p-4 p-md-5 shadow-v1"> -->
          <p class="lead mt-2">
              You may contact the counselor through phone or by making a personal visit to our administartor office to more receive information about the J.B.U. Academy. 
          </p>
          <div class="row mt-5 mx-0">
            <div class="col-md-4 mb-4">
              <input type="text" class="form-control" placeholder="Name" required name="name">
            </div>
            <div class="col-md-4 mb-4">
              <input type="email" class="form-control" placeholder="Email" required name="email">
            </div>
            <div class="col-md-4 mb-4">
              <input type="tel" class="form-control" placeholder="Phone number" required name="number">
            </div>
            <div class="col-12">
              <textarea type="text" class="form-control" placeholder="Message" rows="7" name="message"></textarea>
              <button type="submit" class="btn btn-primary mt-4">Send Message</button>
            </div>
          </div>
        </form>  
      </div>
      
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>



<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d632.5836993988585!2d84.12080318803744!3d26.448073398953028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3993af0391ae5b05%3A0xcbd42902f87127b3!2sJ.B.U.+Academy!5e1!3m2!1sen!2suk!4v1535278791708" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d732.7475547470027!2d84.12084205784893!3d26.447982228741953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjbCsDI2JzUzLjQiTiA4NMKwMDcnMTYuNiJF!5e1!3m2!1sen!2suk!4v1534486194540" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
<!-- <div class="google-map" data-address="26.448158,84.121277" data-zoom="14" data-key="AIzaSyB0uuKeEkPfAo7EUINYPQs3bzXn7AabgJI" style="height:450px;"></div> -->

