<section class="padding-y-100 bg-light-v4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 text-center">
        <h2>
          Unique Features
        </h2>
        <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40 mx-auto"></div>
      </div>
      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp" data-wow-delay=".1s">
        <div class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3">
          <span class="iconbox iconbox-lg bg-primary mx-auto">
            <i class="ti-infinite font-size-24"></i>
          </span>
          <h5 class="my-4">
            Large Spacious Campus
          </h5>
          <p>
            Staff create campuses that are welcoming to their students and their families.
          </p>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp" data-wow-delay=".2s">
        <div class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3">
          <span class="iconbox iconbox-lg bg-success text-white mx-auto">
            <i class="ti-cloud font-size-24"></i>
          </span>
          <h5 class="my-4">
              Positive Campus Climate
          </h5>
          <p>
              Some aspects of positive campus climate include Attractive environment.
          </p>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp" data-wow-delay=".3s">
        <div class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3">
          <span class="iconbox iconbox-lg bg-danger text-white mx-auto">
            <i class="ti-world font-size-24"></i>
          </span>
          <h5 class="my-4">
            English Environment
          </h5>
          <p>
              Teachers take part in frequent, relevant and continuous professional development.
              
          </p>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp" data-wow-delay=".1s">
        <div class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3">
          <span class="iconbox iconbox-lg bg-info text-white mx-auto">
            <i class="ti-bell font-size-24"></i>
          </span>
          <h5 class="my-4">
            Skilled Teachers
          </h5>
          <p>
              The staff is friendly and respectful of every student and is committed to a there work.
          </p>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp" data-wow-delay=".2s">
        <div class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3">
          <span class="iconbox iconbox-lg bg-warning text-white mx-auto">
            <i class="ti-support font-size-24"></i>
          </span>
          <h5 class="my-4">
            Easy Routes
          </h5>
          <p>
            There is easily transport (buses, rikshaw) available in all routes to reach J.B.U.A.
          </p>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeInUp" data-wow-delay=".3s">
        <div class="card height-100p text-center p-4 p-md-5 transition hover:shadow-v3">
          <span class="iconbox iconbox-lg bg-dark text-white mx-auto">
            <i class="ti-file font-size-24"></i>
          </span>
          <h5 class="my-4">
            Test / Exam Copies Given
          </h5>
          <p>
            Test / Exam Copies are Given to Students for further discussion on question appeared.
          </p>
        </div>
      </div>
      
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>