<div class="padding-y-80 bg-cover" data-dark-overlay="6" style="background:url(assets/img/1920/658_2.jpg) no-repeat">
  <div class="container">
    <h2 class="text-white">
      Faculty
    </h2>
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Page</a></li>
      <li class="breadcrumb-item">Faculty</li>
    </ol>
  </div>
</div>
   
      
   
   
   
<section class="paddingTop-50 paddingBottom-100 bg-light">
  <div class="container">
    <div class="row">
     
      <div class="col-lg-4 col-md-6 marginTop-30">
        <div class="card height-100p shadow-v1">
          <img class="card-img-top" src="assets/img/384x320/5.jpg" alt="">
          <div class="card-body">
           <a href="#" class="h4">
             Faculty of Psychology
           </a>
            <ul class="list-unstyled mt-4 mb-0">
              <li>Dean: <span class="font-weight-semiBold"> Dr. G.Hussein Rassool</span></li>
              <li>Professors: <span class="font-weight-semiBold">12</span></li>
              <li>Lecturers: <span class="font-weight-semiBold">38</span></li>
              <li>Students: <span class="font-weight-semiBold">80</span></li>
            </ul>
          </div>
        </div>
      </div>
     
      <div class="col-lg-4 col-md-6 marginTop-30">
        <div class="card height-100p shadow-v1">
          <img class="card-img-top" src="assets/img/384x320/4.jpg" alt="">
          <div class="card-body">
           <a href="#" class="h4">
             Biological Sciences
           </a>
            <ul class="list-unstyled mt-4 mb-0">
              <li>Dean: <span class="font-weight-semiBold"> Dr. G.Hussein Rassool</span></li>
              <li>Professors: <span class="font-weight-semiBold">12</span></li>
              <li>Lecturers: <span class="font-weight-semiBold">38</span></li>
              <li>Students: <span class="font-weight-semiBold">80</span></li>
            </ul>
          </div>
        </div>
      </div>
     
      <div class="col-lg-4 col-md-6 marginTop-30">
        <div class="card height-100p shadow-v1">
          <img class="card-img-top" src="assets/img/384x320/3.jpg" alt="">
          <div class="card-body">
           <a href="#" class="h4">
              Physical & Sciences
           </a>
            <ul class="list-unstyled mt-4 mb-0">
              <li>Dean: <span class="font-weight-semiBold"> Dr. G.Hussein Rassool</span></li>
              <li>Professors: <span class="font-weight-semiBold">12</span></li>
              <li>Lecturers: <span class="font-weight-semiBold">38</span></li>
              <li>Students: <span class="font-weight-semiBold">80</span></li>
            </ul>
          </div>
        </div>
      </div>
     
      <div class="col-lg-4 col-md-6 marginTop-30">
        <div class="card height-100p shadow-v1">
          <img class="card-img-top" src="assets/img/384x320/2.jpg" alt="">
          <div class="card-body">
           <a href="#" class="h4">             
              Faculty of Mathematic
           </a>
            <ul class="list-unstyled mt-4 mb-0">
              <li>Dean: <span class="font-weight-semiBold"> Dr. G.Hussein Rassool</span></li>
              <li>Professors: <span class="font-weight-semiBold">12</span></li>
              <li>Lecturers: <span class="font-weight-semiBold">38</span></li>
              <li>Students: <span class="font-weight-semiBold">80</span></li>
            </ul>
          </div>
        </div>
      </div>
     
      <div class="col-lg-4 col-md-6 marginTop-30">
        <div class="card height-100p shadow-v1">
          <img class="card-img-top" src="assets/img/384x320/1.jpg" alt="">
          <div class="card-body">
           <a href="#" class="h4">
              Faculty of Humanities
           </a>
            <ul class="list-unstyled mt-4 mb-0">
              <li>Dean: <span class="font-weight-semiBold"> Dr. G.Hussein Rassool</span></li>
              <li>Professors: <span class="font-weight-semiBold">12</span></li>
              <li>Lecturers: <span class="font-weight-semiBold">38</span></li>
              <li>Students: <span class="font-weight-semiBold">80</span></li>
            </ul>
          </div>
        </div>
      </div>
     
      <div class="col-lg-4 col-md-6 marginTop-30">
        <div class="card height-100p shadow-v1">
          <img class="card-img-top" src="assets/img/384x320/5.jpg" alt="">
          <div class="card-body">
           <a href="#" class="h4">
              Faculty of Humanities
           </a>
            <ul class="list-unstyled mt-4 mb-0">
              <li>Dean: <span class="font-weight-semiBold"> Dr. G.Hussein Rassool</span></li>
              <li>Professors: <span class="font-weight-semiBold">12</span></li>
              <li>Lecturers: <span class="font-weight-semiBold">38</span></li>
              <li>Students: <span class="font-weight-semiBold">80</span></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-12 marginTop-70">
        <ul class="pagination pagination-primary justify-content-center">
          <li class="page-item disabled mx-1">
            <a class="page-link iconbox iconbox-sm rounded-0" href="#">
              <i class="ti-angle-left small"></i>
            </a>
          </li>
          <li class="page-item active mx-1">
            <a class="page-link iconbox iconbox-sm rounded-0" href="#">1</a>
          </li>
          <li class="page-item mx-1">
            <a class="page-link iconbox iconbox-sm rounded-0" href="#">2</a>
          </li>
          <!-- <li class="page-item disabled mx-1">
            <a class="page-link iconbox iconbox-sm rounded-0" href="#">
              <i class="ti-more-alt"></i>
            </a>
          </li>
          <li class="page-item mx-1">
            <a class="page-link iconbox iconbox-sm rounded-0" href="#">16</a>
          </li> -->
          <li class="page-item mx-1">
            <a class="page-link iconbox iconbox-sm rounded-0" href="#">
              <i class="ti-angle-right small"></i>
            </a>
          </li>
        </ul>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>
