<section class="padding-y-100 border-bottom">
  <div class="container">
  <div class="row align-items-center">

      <div class="col-lg-5 mb-4 mr-auto text-center">
          <img class="wow fadeInLeft w-100 rounded" src="assets/img/384x320/3.jpg" alt="">
      </div> 

      <div class="col-lg-6">
          <h2>
              <span class="text-primary">Who</span> We Are
          </h2>
          <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40"></div>
          <p class="mb-5">
              J.B.U Academy is managed by Md. Salim. The school was founded by Md. Salim in 2014 who by profession is a Teacher (B.Ed) and has
              extensive Work Experience in the field of Teaching and Education. J.B.U.A is an English Medium, Co-Ed, KG 1st to 8th Class School and
              is considered to be Best School in Khajurha, Bhore, Gopalganj, Bihar.
          </p>
          <ul class="list-unstyled list-style-icon list-icon-check-circle">
              <li>
                  An English Medium School
              </li>
              <li>
                  Professional and higly qualified faculty
              </li>
              <li>
                  Large Spacious Campus
              </li>
              <li>
                  Best School in Khajurha, Bhore, Gopalganj, Bihar
              </li>
          </ul>
      </div> <!-- END col-lg-6 ml-auto-->
  </div> <!-- END row-->
  </div> <!-- END container-->
 </section>
 