<section class="paddingTop-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="mb-4">
          School Gallery
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
      </div>
    </div>
    <!-- END row-->

    <div class="row marginTop-60">
      <div class="owl-carousel arrow-edge arrow-black" data-items="4" data-arrow="true" data-tablet-items="2" data-mobile-items="1">
        <div class="hover:parent" *ngFor="let figure of figures">
          <img class="w-100 transition-0_3 hover:zoomin" src="{{figure}}" alt="">
          <div class="card-img-overlay  transition-0_3 flex-center bg-black-0_7 hover:show">
            <a href="{{figure}}" data-fancybox="gallery1" class="iconbox bg-white ti-zoom-in text-primary"></a>
          </div>
        </div>
      </div>
    </div>
    <!-- END row-->

  </div>
  <!-- END container-->
</section>