<section class="padding-y-100 bg-light-v5">
  <div class="container">
    <div class="row">

      <div class="col-12 text-center mb-4">
        <h2 class="mb-4">
          Upcoming Events
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
      </div>
    </div>
    <!-- END row-->

    <div class="row">

      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeIn" data-wow-delay=".1s">
        <div class="card shadow-v1">
          <div class="padding-40 border-bottom">
            <a href="#" class="h4">
              Open Schools for Open Societies 2018
            </a>
          </div>
          <ul class="list-unstyled padding-x-40 py-4 line-height-xl">
            <li>
              <i class="ti-time mr-2 text-primary"></i>
              April 13, 2018 @ 8:00 am
            </li>
            <li>
              <i class="ti-location-pin mr-2 text-primary"></i>
              184 Main Collins Street
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeIn" data-wow-delay=".2s">
        <div class="card shadow-v1">
          <div class="padding-40 border-bottom">
            <a href="#" class="h4">
              Conference on Early School Leaving
            </a>
          </div>
          <ul class="list-unstyled padding-x-40 py-4 line-height-xl">
            <li>
              <i class="ti-time mr-2 text-primary"></i>
              April 13, 2018 @ 8:00 am
            </li>
            <li>
              <i class="ti-location-pin mr-2 text-primary"></i>
              184 Main Collins Street
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeIn" data-wow-delay=".3s">
        <div class="card shadow-v1">
          <div class="padding-40 border-bottom">
            <a href="#" class="h4">
              A collection of Innovative and Inspiring Resources
            </a>
          </div>
          <ul class="list-unstyled padding-x-40 py-4 line-height-xl">
            <li>
              <i class="ti-time mr-2 text-primary"></i>
              April 13, 2018 @ 8:00 am
            </li>
            <li>
              <i class="ti-location-pin mr-2 text-primary"></i>
              184 Main Collins Street
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeIn" data-wow-delay=".1s">
        <div class="card shadow-v1">
          <div class="padding-40 border-bottom">
            <a href="#" class="h4">
              A collection of Innovative and Inspiring Resources
            </a>
          </div>
          <ul class="list-unstyled padding-x-40 py-4 line-height-xl">
            <li>
              <i class="ti-time mr-2 text-primary"></i>
              April 13, 2018 @ 8:00 am
            </li>
            <li>
              <i class="ti-location-pin mr-2 text-primary"></i>
              184 Main Collins Street
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeIn" data-wow-delay=".2s">
        <div class="card shadow-v1">
          <div class="padding-40 border-bottom">
            <a href="#" class="h4">
              Open Schools for Open Societies 2018
            </a>
          </div>
          <ul class="list-unstyled padding-x-40 py-4 line-height-xl">
            <li>
              <i class="ti-time mr-2 text-primary"></i>
              April 13, 2018 @ 8:00 am
            </li>
            <li>
              <i class="ti-location-pin mr-2 text-primary"></i>
              184 Main Collins Street
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 marginTop-30 wow fadeIn" data-wow-delay=".3s">
        <div class="card shadow-v1">
          <div class="padding-40 border-bottom">
            <a href="#" class="h4">
              Conference on Early School Leaving
            </a>
          </div>
          <ul class="list-unstyled padding-x-40 py-4 line-height-xl">
            <li>
              <i class="ti-time mr-2 text-primary"></i>
              April 13, 2018 @ 8:00 am
            </li>
            <li>
              <i class="ti-location-pin mr-2 text-primary"></i>
              184 Main Collins Street
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!-- END row-->
  </div>
  <!-- END container-->
</section>
