<section class="paddingTop-50 paddingBottom-100">
  <div class="container">
    <div class="row">

      <div class="col-md-6 mt-5">
        <h2 class="mb-4">
          Facebook Posts
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mb-5"></div>

        <div class="mb-5 wow fadeIn" data-wow-delay=".1">
          <div class="media mb-3">
            <span class="iconbox iconbox-lg btn btn-facebook rounded mr-4">
              <i class="ti-facebook"></i>
            </span>
            <div class="media-body">
              <h5 class="mb-0">
                EchoTheme
              </h5>
              <span class="text-gray">
                3 hours ago
              </span>
            </div>
          </div>
          <p>
            Investig ationes demons trave sed vunt lectores kegere do kurus quodk legunt saepius claritas ekist onsec tetur adipi sicing
            elit, sed kdo claritas ekist.
          </p>
          <a href="#" class="text-primary">
            https//.fb.com/pagelink
          </a>
        </div>

        <div class="mb-5 wow fadeIn" data-wow-delay=".2">
          <div class="media mb-3">
            <span class="iconbox iconbox-lg btn btn-facebook rounded mr-4">
              <i class="ti-facebook"></i>
            </span>
            <div class="media-body">
              <h5 class="mb-0">
                EchoTheme
              </h5>
              <span class="text-gray">
                6 hours ago
              </span>
            </div>
          </div>
          <p>
            Investig ationes demons trave sed vunt lectores kegere do kurus quodk legunt saepius claritas ekist onsec tetur adipi sicing
            elit, sed kdo claritas ekist.
          </p>
          <a href="#" class="text-primary">
            https//.fb.com/pagelink
          </a>
        </div>

      </div>

      <div class="col-md-6 mt-5">
        <h2 class="mb-4">
          Latest tweets
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mb-5"></div>

        <div class="mb-5 wow fadeIn" data-wow-delay=".1">
          <div class="media mb-3">
            <span class="iconbox iconbox-lg btn btn-twitter rounded mr-4">
              <i class="ti-twitter"></i>
            </span>
            <div class="media-body">
              <h5 class="mb-0">
                EchoTheme
              </h5>
              <span class="text-gray">
                3 hours ago
              </span>
            </div>
          </div>
          <p>
            Investig ationes demons trave sed vunt lectores kegere do kurus quodk legunt saepius claritas ekist onsec tetur adipi sicing
            elit, sed kdo claritas ekist.
          </p>
          <a href="#" class="text-primary">
            https://t.co/rI1M2JlyZG
          </a>
        </div>

        <div class="mb-5 wow fadeIn" data-wow-delay=".2">
          <div class="media mb-3">
            <span class="iconbox iconbox-lg btn btn-twitter rounded mr-4">
              <i class="ti-twitter"></i>
            </span>
            <div class="media-body">
              <h5 class="mb-0">
                EchoTheme
              </h5>
              <span class="text-gray">
                6 hours ago
              </span>
            </div>
          </div>
          <p>
            Investig ationes demons trave sed vunt lectores kegere do kurus quodk legunt saepius claritas ekist onsec tetur adipi sicing
            elit, sed kdo claritas ekist.
          </p>
          <a href="#" class="text-primary">
            https://t.co/rI1M2JlyZG
          </a>
        </div>

      </div>

    </div>
    <!-- END row-->

  </div>
  <!-- END container-->
</section>
