.marquee {
    width: 100%;
  line-height: 50px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee h2 {
cursor: pointer;
  display: inline-block;
  color: #00CB54;
  text-shadow: 2px 2px 2px #000;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}
.marquee h2:hover {
    animation-play-state: paused;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
h1, h2, p {
    text-shadow: 2px 2px 2px #000;
}