<section class="height-90vh py-5 flex-center jarallax" data-dark-overlay="4" style="background:url(assets/img/1920x800/1.jpg) no-repeat;background-size: cover">
  <div class="container">
    <div class="row">
      <div class="marquee" routerLink="admission">
        <h2 class="display-lg-5">Admission Open for Session 2018</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 d-none-sm">
        <img src="assets/img/logo.png" width="100%"/>
      </div>
      <div class="col-lg-8 text-white">
        <h1 class="display-lg-3 font-weight-bold text-white wow slideInUp">
          <!-- School Template -->
          J.B.U. Academy
        </h1>
        <h2 class="display-lg-5 font-weight-bold text-primary wow slideInUp">
          <!-- Best Ever Trendy -->
          An English Medium School
        </h2>
        <p class="lead wow slideInUp">
          J.B.U Academy is an English Medium, Co-Ed, KG 1st to 8th Class School and is considered to be Best School in Khajurha, Bhore, Gopalganj, Bihar.
        </p>
        <a routerLink="about" class="btn btn-primary btn-lg mt-3 wow slideInUp">Read More</a>
      </div>
    </div>
  </div>
</section>