<div class="padding-y-60 bg-cover" data-dark-overlay="6" style="background:url(assets/img/breadcrumb-bg.jpg) no-repeat">
  <div class="container">
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
      <li class="breadcrumb-item"><a routerLink="">Home</a></li>
      <li class="breadcrumb-item">Admission Apply</li>
    </ol>
    <h1 class="text-white my-2">
      Admission Apply
    </h1>
  </div>
</div>
    
  
  
  
  
  
  <!-- <section class="paddingTop-70 paddingBottom-100">
  <div class="container">
    <div class="row">
     <div class="col-12 text-center">
        <h2>
          School Admissions
        </h2>
        <div class="width-4rem height-4 bg-primary my-2 mx-auto rounded"></div>
      </div>
      
      <div class="col-md-6 mt-5">
       <img src="assets/img/600x432/3.jpg" alt="">
        <a href="javascript:void(0)" data-fancybox="" class="iconbox iconbox-lg bg-white position-absolute absolute-center">
          <i class="ti-control-play text-primary"></i>
        </a>
      </div>
      
      <div class="col-md-6 mt-5">
        <p>
          Investig tiones demons travge wunt ectores legere lkurus quod legunt saepiu clartas est consectetur adipi sicing elitsed kdo eusmod tempor cididunt wuti labore edolore magna aliqua. Consectetur adipi sicing.
        </p>
        <p>
          Investig tiones demons travge wunt ectores legere lkurus quod legunt saepiu clartas est consectetur adipi sicing elitsed kdo eusmod tempor cididunt.
        </p>
       <ul class="list-unstyled list-style-icon list-icon-check font-weight-semiBold my-4">
        <li>Focused subject concentrations</li>
        <li>Usually 3 or more coordinated courses</li>
        <li>Develop a skill set within a specific area</li>
        <li>Focused subject concentrations</li>
       </ul>
      </div>
      
    </div> <!- - END row- ->
  </div> <!- - END container- ->
</section> -->
  
  
  
  
  <section class="padding-y-100 bg-light">
  <div class="container">
    <div class="row">
     <div class="col-12 text-center mb-5">
        <h2>
          Admission Apply
        </h2>
        <div class="width-4rem height-4 bg-primary my-2 mx-auto rounded"></div>
      </div>
      <div class="col-12 text-center">
        <form action="" method="POST" class="card p-md-5 shadow-v2">
          <p>
              You may contact the admissions counselor through phone or by making a personal visit to our admissions office to more receive information about the admission process and the school. 
          </p>
          <div class="row mt-4 mx-0">
            <div class="col-md-4 mb-4">
              <input type="text" class="form-control" placeholder="Name" required>
            </div>
            <div class="col-md-4 mb-4">
              <input type="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="col-md-4 mb-4">
              <input type="tel" class="form-control" placeholder="Phone number" required>
            </div>
            <div class="col-12">
              <textarea type="text" class="form-control" placeholder="Description for class" rows="7"></textarea>
              <button type="submit" class="btn btn-primary mt-4">Apply Now</button>
            </div>
          </div>
        </form>  
      </div>
      
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>
