<section class="padding-y-100">
  <div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <h2>
        What We offer
      </h2>
      <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40"></div>
      <p class="mb-5">
          Our every function is Computerized including Fee Management, Enquiry Management, SMS Management, Question Composition to Question Printing, Call Tracking, Gate Pass, Leave Management, PTM Management, Progress Report Generation
      </p>
      <div class="media mb-4">
        <i class="ti-user text-primary font-size-30 mt-2"></i>
        <div class="media-body pl-3">
          <h4 class="h5">Work With Any Team</h4>
          <p>
              We believe in the team work. Our Teaching Staff and Non Teaching staff make every effort to make this school a unique one in terms of Student and Parent satisfaction.
          </p>
        </div>
      </div>
      <div class="media mb-4">
        <i class="ti-basketball text-primary font-size-30 mt-2"></i>
        <div class="media-body pl-3">
          <h4 class="h5">A Productivity Platform</h4>
          <p>
              We believe in enhanced communication with Parents by means of SMS, Telecommunication and PTM.
          </p>
        </div>
      </div>
    </div> <!-- END col-lg-6 ml-auto-->
    <div class="col-lg-5 mb-4 mr-auto text-center">
      <img class="wow fadeInRight w-100 rounded" src="assets/img/360x300/4.jpg" alt="">
    </div> 
  </div> <!-- END row-->
  </div> <!-- END container-->
 </section>